/*------------------------------ */
/*                                                     */
/*   Каскадные таблицы CSS    */ 
/*                                                     */
/*------------------------------ */


/* Обнуление всех стилей */
*{
     margin:0 auto;
     padding:0 auto;
     outline:none;
}

html{
     color:    #111;            /* ЦВЕТ текста         */
     width:  100%;           /* ширина документа    */
     height: 100%;          /* высота документа    */
}
   
body{
     width:             950px;        
}


/*-------------------*/
/*          CLASS            */
/*-------------------*/
.head{ 
     height:   70px;
      width:    950px; 
     padding:  5px 0px;
}


/* ------------------- */
.footer{
    border: 1px solid #000;
    height:  20px;
    background: grey;
}











